body{
    margin: 0;
    padding: 0;
    background: url("background.jpg") ; 
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-size: cover;
    background-position:center;
}

.img-logo{
    height: 94px;
    margin-left: 45px;
}

.upper{
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 100px;
}


.login{
    margin: 0 auto;
    width: 310px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 30px 70px 143px 70px;
}

.login h1{
    color: white;
    padding-bottom: 10px;
}

.input-text{
    margin-bottom: 20px;
}

.input-text input{
    width: 100%;
    height: 45px;
    background-color: #333;
    color: white;
    border-radius:5px;
    border: none;
    outline: transparent;
    text-indent: 18px;
}

.input-text  {
    font-size: 1rem;
    color: #999;
}

.input-text input{
    font-size: 1rem;
    color: #999;
    text-indent: 40px;
}

.signin-button{
    margin-top: 20px;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    background-color: red;
    color:white;
    border:none;
    font-weight: bold;
    font-size: 1.05rem;
    cursor: pointer;
}

.remember-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.8rem;
}

.color_text{
    color: #b3b3b3;
}

.color_link{
    color: #737373;
}

.signup-link{
    color: white;
    text-decoration: none;
}



.signup-link:hover{
    text-decoration: underline;
}

.face_icon{
    color: #3b5998;
    margin-right: 6px;
    font-size: 20px;
}

.log_face{
    text-decoration: none;
    margin-left: 10px;
    font-size: 0.8rem;
}

.login-face{
    margin: 50px 0 15px 0;
    vertical-align: middle;
    color: #8c8c8c;
}

.new-members{
    margin-bottom: 10px;
    color: #8c8c8c;
}

.help a{
    text-decoration: none;
}
.help a:hover{
    text-decoration: underline;
}









